
*{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400&display=swap');

.app{
    font-family: "Kanit", "Sans serif";
    min-height: 100vh;
    background-color: #080808c9;
    color: whitesmoke;
}

.section-title{
    text-align: center;
}

.creators-section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.comics-container{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 1rem;
}

.t-center{
   text-align: center;
   display: block;
}

.link{
    text-decoration: none;
    position: relative;
    color: black;
    margin-inline: 0.7rem;
    margin-right: 1rem;
    left: 0;
    font-family: 'Bungee Spice', sans-serif;
}

.logo-container{
    max-width: 100px;
    max-height: 50px;
    margin-left: 1rem;
}

img{
    width: 100%;
    height: 100%;
}

.navbar{
    z-index: 5;
    background-color: transparent;
    backdrop-filter: blur(2px);
    padding: 1rem;
}

div.carousel.slide{
    height: 100%;
}

.all-navbar{
    position: absolute;
    z-index: 5;
    width: 100%;
}

.image{
    height: 100vh;
}

.home-body{
    height: 100vh;
    overflow: hidden;
}

/*Character*/
.character-card{
    width: 240px;
    height: 300px;
    margin: 1rem;
    border-radius: 5px;
    border: 2px rgb(172, 170, 170) solid;
}

.character-card img{
    transform: scale(1);
    transition: transform 0.5s;
}

.character-card:hover img{
    transform: scale(1.1);
    transition: transform 0.5s;
}

.character-container{
    display: flex;
    padding-top: 4rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: #080808c9;
}

.character-img{
    overflow: hidden;
    height: 220px;
}

.character-name{
    text-align: center;
    text-overflow: hidden;
    text-decoration: none;
    color: whitesmoke;
    padding-top: 0.5rem;
    display: block;
}

.detail-img{
    width: 320px;
    height: 380px;
    margin: auto;
    padding-bottom: 0.5rem;
}

.detail-card{
    padding-top: 4rem;
    padding-bottom: 1.25rem;
}

.creator p{
    padding-bottom: 1rem;
}

.creators-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 1rem;
}

.creators-container h3{
    font-family: "Bungee Spice";
}

h3.detail-name, h2.detail-name{
    font-family: "Bungee Spice";
    margin-bottom: 1rem;
}

.creator{
    border: 1px solid black;
    border-radius: 4px;
    padding: 0.5rem;
}

.description{
    margin-inline: 1rem;
    text-align: center;
    padding-bottom: 1rem;
}

p{
    margin-bottom: 0 !important;
}

.detail-name{
    text-align: center;
}

.detail-description{
    text-align: center;
}

.detail-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #080808c9;
    color: whitesmoke;
}

.loader{
    text-align: center;
    padding-top: 5rem;
}

.loader span{
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 0.5rem;
    background-color: #080808c9;
    animation: loader-position 1s infinite 0.25s;
}

@keyframes loader-position {
    from{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-100%);
    }
    to{
        transform: translateY(0);
    }
}

.loader span:first-child{
    margin-left: 0.5rem;
    animation: loader-position 1s infinite;
}

.loader span:last-child{
    animation: loader-position 1s infinite 0.5s;
}

html {
    scrollbar-face-color: #646464;
    scrollbar-base-color: #646464;
    scrollbar-3dlight-color: #646464;
    scrollbar-highlight-color: #646464;
    scrollbar-track-color: #000;
    scrollbar-arrow-color: #000;
    scrollbar-shadow-color: #646464;
    scrollbar-dark-shadow-color: #646464;
  }
  
  ::-webkit-scrollbar { width: 10px; height: 3px;}
  ::-webkit-scrollbar-track {  background-color: #646464;}
  ::-webkit-scrollbar-track-piece { background-color: #080808c9;}
  ::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 5px;}
  ::-webkit-scrollbar-corner { background-color: #646464;}
  ::-webkit-resizer { background-color: #666;}