
*{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400&display=swap');

.app{
    font-family: "Kanit";
    min-height: 100vh;
    background-color: rgb(105, 104, 104);
    color: whitesmoke;
}

.t-center{
   text-align: center;
   display: block;
}

.link{
    text-decoration: none;
    position: relative;
    color: black;
    margin-inline: 0.7rem;
    margin-right: 1rem;
    left: 0;
    font-family: 'Bungee Spice', sans-serif;
}

.logo-container{
    max-width: 100px;
    max-height: 50px;
    margin-left: 1rem;
}

img{
    width: 100%;
    height: 100%;
}

.navbar{
    z-index: 5;
    background-color: transparent;
    backdrop-filter: blur(2px);
    padding: 1rem;
}

div.carousel.slide{
    height: 100%;
}

.all-navbar{
    position: absolute;
    z-index: 5;
    width: 100%;
}

.image{
    height: 100vh;
}

.home-body{
    height: 100vh;
    overflow: hidden;
}

/*Character*/
.character-card{
    width: 240px;
    height: 300px;
    margin: 1rem;
    border-radius: 5px;
    border: 2px rgb(172, 170, 170) solid;
}

.character-card img{
    transform: scale(1);
    transition: transform 0.5s;
}

.character-card:hover img{
    transform: scale(1.1);
    transition: transform 0.5s;
}

.character-container{
    display: flex;
    padding-top: 4rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: #080808c9;
}

.character-img{
    overflow: hidden;
    height: 220px;
}

.character-name{
    text-align: center;
    text-overflow: hidden;
    text-decoration: none;
    color: whitesmoke;
    padding-top: 0.5rem;
    display: block;
}

.detail-img{
    width: 320px;
    height: 380px;
    margin: auto;
    padding-bottom: 0.5rem;
}

.detail-card{
    padding-top: 4rem;
    padding-bottom: 1.25rem;
}

.description{
    margin-inline: 1rem;
    text-align: center;
}

.detail-name{
    text-align: center;
}

.detail-description{
    text-align: center;
}


.detail-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #080808c9;
    color: whitesmoke;
}

:root {
    --color-bg: #eaeaea;
    --color-loader: #222;
    --loader-size: 100px;
    --loader-speed: 500ms;
  }
  
  .loader {
    --loader-height: calc(var(--loader-size) / 7);
    display: flex;
    padding-top: 6rem;
    left: 40%;
    
    position: relative;
  }
  .loader::before {
    content: '';
    position: absolute;
  }
  .loader::before,
  .loader > span {
    display: block;
    width: var(--loader-height);
    height: var(--loader-height);
    border-radius: 50%;
    background: var(--color-loader);
    
    animation-name: to-right;
    animation-duration: var(--loader-speed);
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  .loader > span:nth-child(even) {
    visibility: hidden;
  }
  .loader > span:first-child {
    animation-name: scale-up;
  }
  .loader > span:last-child {
    animation-name: scale-up;
    animation-direction: reverse;
  }
  
  @keyframes to-right {
    to {
      transform: translateX(200%);
    }
  }
  @keyframes scale-up {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }
  
.section{
    border-top: 1px solid grey;
    margin-bottom: 1rem;
}

.section-title{
    text-align: center;
    padding-top: 1rem;
}

.comics-container{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
}

.creators-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
}

.creator{
    border: 2px whitesmoke solid;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
}

.creator-name{
    border-bottom: 1px solid whitesmoke;
    color: rgb(250, 134, 71);
}

.dottet-loader{
    height: 100px;
    width: 100px;
    border-color: #5e35b1;
    border-style: solid solid dotted dotted;
    border-width: 5px;
    border-radius: 50%;
    animation: turn-left 2s infinite linear;
    -webkit-animation: turn-left 2s infinite linear;
}
/* second circle */
.dottet-loader::before{
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border: 2px wheat;
    border-style: solid dotted;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    animation: turn-right 1s infinite linear;
    -webkit-animation: turn-right 1s infinite linear;
}
@keyframes turn-left {
    from{ 
        transform:rotate(0) ;
         -webkit-transform:rotate(0) ; 
         -moz-transform:rotate(0) ; 
         -ms-transform:rotate(0) ; 
         -o-transform:rotate(0) ; 
    }
    to{
        transform: rotate(1turn);
        -webkit-transform: rotate(1turn);
        -moz-transform: rotate(1turn);
        -ms-transform: rotate(1turn);
        -o-transform: rotate(1turn);
    }
    
}
@keyframes turn-right {
    from{ 
        transform:rotate(0) ;
         -webkit-transform:rotate(0) ; 
         -moz-transform:rotate(0) ; 
         -ms-transform:rotate(0) ; 
         -o-transform:rotate(0) ; 
    }
    to{
        transform: rotate(-1turn);
        -webkit-transform: rotate(-1turn);
        -moz-transform: rotate(-1turn);
        -ms-transform: rotate(-1turn);
        -o-transform: rotate(-1turn);
}
    
}

.loader-container{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
